*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
}

h1, h2, h3{
    font-family: Roboto,sans-serif;
}

a,p,li, label, input[type="text"], textarea{
    font-family: "Open Sans", sans-serif;
    color: var(--color-textmain-lighttheme);
}

a{
    font-size: 1.125rem;
    text-decoration: none;
}

p,  li, input{
    font-size: 1.25rem;
}

h1{
    font-size: 2.75rem;
}

h2{
    font-size: 1.75rem;
}

h3, label{
    font-size: 1.5rem;
}

button{
    outline: none;
}


/*Navbar*/
.navbar{
    flex: 0 1 100px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 16px 32px;
    box-shadow: -8px 8px 16px -4px rgba(173,173,173,1);
}

.logo-efrei{
    height: 64px;
}

.navbar-menu{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.navbar-menu > *{
    margin: 0 8px;
}

.navbar-menu a{
    font-size: 1.25rem;
}


.navbar-menu a:hover{
    color: var(--color-main);
}

/*Button*/
/*Submit*/
form input[type="submit"]{
    padding: 8px;
    border : 2px solid var(--color-main);
    background: transparent;
    border-radius: 8px;
    height: 40px;
    width: 128px;
    font-size: 20px;
    line-height: 16px;
    margin-top: 32px;
}

form input[type="submit"]:hover {
    cursor: pointer;
    background: var(--color-main);
    color: white;
}

/*Input*/
form input[type="text"]:disabled {
    background: var(--color-textdisable-lighttheme);
}

/*Variable*/
:root{
    --color-main : #2F80ED;
    --color-textmain-lighttheme : rgba(0,0,0, 0.87);
    --color-textmedium-lighttheme : rgba(0,0,0, 0.6);
    --color-textdisable-lighttheme : rgba(0,0,0, 0.3);
    --color-red : #c4242c;
    --color-green : #61c33c;
}