:root{
    --color-main : #2F80ED;
    --color-textmain-lighttheme : rgba(0,0,0, 0.87);
    --color-textmedium-lighttheme : rgba(0,0,0, 0.6);
    --color-textdisable-lighttheme : rgba(0,0,0, 0.3);
}
/*Main*/
.login{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100%;
}
/*Login left*/
.login-left{
    flex: 60%;
    /*Do not shorthand the background property => break the display*/
    background: url("../Image/bg_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}

/*Login right*/

.login-right{
    flex: 40%;
    position: relative;
}

.login-right-form-wrapper{
    padding-top: 15%;
    padding-left: 10%;
}

.login-right-form-wrapper > h1{
    padding-bottom: 64px;
}

.login-right-form-wrapper form label{
    display: block;
    margin-bottom: 8px;
}

.login-right-form-wrapper form input[type="text"], .login-right-form-wrapper form input[type="password"]{
    display: block;
    padding: 4px;
    width: 40%;
    border: var(--color-textdisable-lighttheme) 2px solid;
    border-radius: 0 8px 8px 0;
}

.login-right-form-wrapper form input:focus{
    border: var(--color-main) 2px solid;
    outline:none;
}

.login-right-form-wrapper form input[type="submit"]{
    padding: 8px;
    border : 2px solid var(--color-main);
    background: transparent;
    border-radius: 8px;
    height: 40px;
    width: 128px;
    font-size: 20px;
    line-height: 16px;
}

.login-right-form-wrapper form input[type="submit"]:hover {
    cursor: pointer;
    background: var(--color-main);
    color: white;
}


/* Icon */

.login-input-container{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.login-icon-wrapper{
    height: 100%;
    padding: 8px;
    background-color: var(--color-main);
    border-radius: 8px 0 0 8px;
}

.login-icon{
    width: 24px;
    height: 24px;
    text-align: center;
    fill: white;
}

/*Error message*/
.error-msg-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.error-msg-wrapper svg{
    fill: var(--color-red);
    width: 32px;
    height: 32px;
    margin-right: 16px;
}